body {
    height: 100vh;
}

#art-content {
    margin: 40px;
    width: auto;
}

.art-div-content {
    width: 65%;
    margin: 20px auto;
    float: left;
}

.art-div-content-title h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: 'Rubik Moonrocks', cursive;
}

.art-div-content-sobre p {
    width: auto;
    text-align: justify;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

.art-div-content-img {
    float: right;
    margin: 20px auto;
}